---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
       </b>洛杉矶湖人队是一家位于美国加利福尼亚州洛杉矶市的篮球俱乐部,湖人于1948年加入NBA。截至2022-23赛季，湖人队史共63次进入季后赛、32次夺得西部冠军、17次夺得NBA总冠军、1次夺得季中锦标赛冠军，常规赛最高连胜纪录为33场（NBA历史最高)</b>。 
    </p>
    <p>
       </b> The Los Angeles Lakers are an American basketball club based in Los Angeles, California, that joined the NBA in 1948. As of the 2022-23 season, the Lakers have made 63 playoff appearances, won 32 Western Conference championships, 17 NBA championships, and one midseason championship, with the highest regular-season winning streak of 33 games (the highest in NBA history).</b>
    </p>
</div>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.41.0/gradio.js"
></script>




<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
